houserent/houserent/obj/Debug/
houserent/houserent/static/.idea
houserent/ApplicationEntity/bin/Debug/
houserent/ApplicationEntity/obj/Debug/
houserent/ApplicationService/bin/Debug/
houserent/ApplicationService/obj/Debug/
