
<div id="header">
        <div class="head clearfix">
            <div class="city">
                <a class="fc-city" href="http://su.ganji.com" title="">苏州</a> <a href="http://www.ganji.com/index.htm">[切换城市]</a>
            </div>
            <div class="head-m">
                <ul class="column-list clearfix">
                    <li><a class="column" href="http://su.ganji.com/zhaopin/" title="招聘" target="_blank">招聘</a><i class="column-arrow"></i></li>
                    <li class="active"><a class="column" href="http://su.ganji.com/fang1/" title="" target="_blank">租房</a><i class="column-arrow"></i></li>
                    <li><a class="column" href="http://su.ganji.com/fang5/" title="" target="_blank">二手房</a><i class="column-arrow"></i></li>
                    <li><a class="column" href="http://su.ganji.com/ershouche/" title="车辆" target="_blank">车辆</a><i class="column-arrow"></i></li>
                    <li><a class="column" href="http://su.ganji.com/wu/" title="二手" target="_blank">二手</a><i class="column-arrow"></i></li>
                    <li data-widget="app/ms_v2/common/base_page.js#topNav" class="top-nav fl"><a class="top-nav-btn clearfix js-btn" href="#" onclick="return false;">更多<em class="topnav-arrow"></em></a>
                        <ul class="top-nav-list hide js-list"></ul>
                    </li>
                </ul>
            </div>
            <div class="head-r clearfix">
                <div class="fl">
                    <div class="ganji-dingdong" data-widget="app/ms_v2/common/base_page.js#hoverWidget">
                        <a target="_blank" href="http://mobile.ganji.com/?ifid=index_banner_up" gjalog="/mobile@name=weixin_qunzu@atype=click" class="dingdong-pop  ganji-phone-pop" data-role="activeBlock">
                            <span class="arrow"></span>
                            <div class="pic-area">
                                <div class="ewm"></div>
                                <p>扫一扫，上赶集群组</p>
                            </div>
                            <div class="txt-area">
                                <p class="p1 f14">扫码使用<span class="f16">“赶集群组”</span></p>
                                <p class="p2 f14 fb">交友&nbsp;&nbsp;寻爱&nbsp;&nbsp;找工作</p>
                                <p class="p2 f14 fb">聊天&nbsp;&nbsp;聚会&nbsp;&nbsp;不寂寞</p>
                            </div>
                        </a>
                        <a target="_blank" title="手机赶集" href="http://mobile.ganji.com/?ca_name=mobile_home_navb" class="column mobile-icon">手机赶集</a>
                    </div>
                </div>
                <div class="fl">
                    <div class="column ganji-dingdong" data-widget="app/ms_v2/common/base_page.js#hoverWidget">
                        <a href="http://dingdong.ganji.com/" gjalog="/dingdong@name=weixin_dingdong@atype=click" class="dingdong-pop" target="_blank" data-role="activeBlock">
                            <span class="arrow"></span>
                            <div class="pic-area">
                                <div class="ewm"></div>
                                <p>扫一扫，手机上叮咚</p>
                            </div>
                            <div class="txt-area">
                                <p class="p1 f14">微信绑定<span class="f16">“赶集叮咚”</span></p>
                                <p class="p2 f14 fb">刷新置顶&nbsp;&nbsp;&nbsp;&nbsp;收发消息</p>
                                <p class="p2 f14 fb">访客提醒&nbsp;&nbsp;&nbsp;&nbsp;轻松搞定</p>
                            </div>
                        </a>
                        <a target="_blank" title="赶集叮咚" href="http://dingdong.ganji.com" gjalog="/dingdong@name=ding_dong_shouye@atype=click">赶集叮咚</a>
                    </div>
                </div>
                <div class="fl">
                    <li data-widget="app/ms_v2/common/base_page.js#hoverWidget" class="top-nav fl"><a class="top-nav-btn clearfix js-btn" href="http://su.ganji.com/tuiguang/">我要推广<em class="topnav-arrow"></em></a>
                        <ul class="top-nav-list">
                            <li><a gjalog="/self_service/trace@source=self_promotion_post_list_header@city_id=67@cat=fang1@atype=click" href="http://su.ganji.com/tuiguang/zhaopin/bangbang/">招聘推广</a></li>
                            <li><a gjalog="/self_service/trace@source=self_promotion_post_list_header@city_id=67@cat=fang1@atype=click" href="http://su.ganji.com/tuiguang/fang/bangbang/">房产推广</a></li>
                            <li><a gjalog="/self_service/trace@source=self_promotion_post_list_header@city_id=67@cat=fang1@atype=click" href="http://su.ganji.com/tuiguang/fuwu/bangbang/">本地服务</a></li>
                            <li><a gjalog="/self_service/trace@source=self_promotion_post_list_header@city_id=67@cat=fang1@atype=click" href="http://su.ganji.com/tuiguang/che/bangbang/">车辆推广</a></li>
                            <li><a gjalog="/self_service/trace@source=self_promotion_post_list_header@city_id=67@cat=fang1@atype=click" href="http://su.ganji.com/tuiguang/wu/bangbang/">二手推广</a></li>
                            <li><a gjalog="/self_service/trace@source=self_promotion_post_list_header@city_id=67@cat=fang1@atype=click" href="http://su.ganji.com/tuiguang/chongwu/bangbang/">宠物推广</a></li>
                        </ul>
                    </li>
                </div>

                <div class="fl reg-login" data-widget="app/ms_v2/common/base_page.js#userinfoWidget">
                    <span class="reg-login-btn clearfix">
                        <a class="reg js-signup-btn" href="http://www.ganji.com/user/register.php?next=http%3A%2F%2Fsu.ganji.com%3A%2Ffang1%2F" title="免费注册" target="_self" rel="nofollow">免费注册</a>
                        <a class="login js-signin-btn" href="https://passport.ganji.com/login.php?next=http%3A%2F%2Fsu.ganji.com%3A%2Ffang1%2F" title="会员登录" target="_self" rel="nofollow">会员登录</a>
                    </span>
                </div>
            </div>
        </div>
    </div>